.center {
  text-align: center;
  color: white;
}

.clickable {
  cursor: pointer;
}

.color {
  background-color: #007bff;
}

#justify {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: flex-end; /* Safari 6.1+ */
  display: flex;
  justify-content: flex-end;
}

.space {
  margin: 10px;
}

.size {
  margin: auto;
  max-width: 488px;
  min-width: 240px;
}

.move-down {
  margin-top: 10px;
}

.commentColor {
  background-color: lightskyblue;
}
